<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
		
	<!-- Use Spring Core annotations -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.project"></context:component-scan>
	
	<!-- MVC Annotations -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- ORM Annotations -->
	<tx:annotation-driven/>
	
	<!-- Datasource: this bean will be a JDBC instance, it is the object that holds all the attributes needed to connect
		to the database
	 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://javaproject0.ccu2h83imwlw.us-east-2.rds.amazonaws.com:5432/flightdb"></property>
		<property name="username" value="alluser"></property>
		<property name="password" value="password"></property>
	
	</bean>
	
	<!-- Session factory this bean is a Hibernate instance, it will be responsible for creating and managing hibernate sessions -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.project.models"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	
	</bean>
	
	<!-- Transaction manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
</beans>